:root {
  --primary-color: #ffffff;
  --primary-title-color: #ffffff;
  --secondary-title-color: #303030;
  --primary-text-color: #555555;
  --third-text-color: #9da4bd;
  --secondary-text-color: #303030;
  --accent-color: #2196f3;
  --header-text-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}
.header {
  background-color: grey;
}

.header-link .link.current {
  color: var(--accent-color);
}

.header-link .link {
  color: teal;
}

.header-link .link:hover,
.header-link .link:focus {
  color: tomato;
}

button {
  font-family: inherit;
}

cta-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

button.active {
  font-family: inherit;
  position: absolute;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;

  background: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

a[href='./index.html'] {
  color: orange;
}

a[href='./portfolio.html'] {
  color: orange;
}
