:root {
  --primary-color: #ffffff;
  --primary-title-color: #ffffff;
  --secondary-title-color: #303030;
  --primary-text-color: #555555;
  --third-text-color: #9da4bd;
  --secondary-text-color: #303030;
  --accent-color: #2196f3;
  --header-text-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}
.header {
  background-color: grey;
}

.header-link .link.current {
  color: var(--accent-color);
}

.header-link .link {
  color: teal;
}

.header-link .link:hover,
.header-link .link:focus {
  color: tomato;
}

button {
  font-family: inherit;
}
