body {
  font-family: 'Roboto', sans-serif;
}

.hero-section {
  background-color: #2f303a;
}

.hero-title {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.order-service-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.characteristics-list-paragraph {
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.button {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}

.button.active {
  background: #2196f3;
  color: #ffffff;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}

.cards-list-title {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px;

  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
  color: #212121;
}

.cards-list-paragraph {
  width: 322px;
  height: 30px;
  left: 239px;
  top: 616px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.footer-address-details {
  text-decoration: none;
}

.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 1688px;

  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
